* {
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 178, 150);
    height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.navbar a {
   margin: 24px;
   font-size: 1.4rem;
   font-weight: bold;
   color: rgb(169, 106, 28);
   list-style: none;  
}

.navbar a:hover {
    color: black;
    cursor: pointer;
}

.active, .btn:hover {
    background-color: rgb(202, 219, 219);

}

.logo {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 2.8rem;
}

.main_container {
    width: 70%;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%) ;
    background-size: 100% 100%;
    box-shadow: 1px 1px 20px  5px black;
    animation: slider 15s infinite linear;
    z-index: 900;
}

@keyframes slider {
    0%{background-image: url(../images/image1.jpg);}
    20%{background-image: url(../images/image2.jpg);} 
    40%{background-image: url(../images/image3.jpg);}
    60%{background-image: url(../images/image4.jpg);} 
    80%{background-image: url(../images/image5.jpg);}
    100%{background-image: url(../images/image6.jpg);}

}

@media screen and (max-width: 768px) {
    .main_container {
         width: 100%; 
        
    }

    body {
        background-color: hsl(192, 27%, 54%);
        
    }
    
}